@{
    Layout = Layout;
}

@model UI.Models.Dtos.RegisterRequestDto

@{
    ViewBag.Title = "Yeni Kullanıcı Oluştur";
}

<link rel="stylesheet" href="~/css/register.css" />

<div class="login-container">
    <h2>Yeni Kullanıcı Oluştur</h2>
    <p>Şifre en az 6 karakterden oluşmalı ve içerisinde rakam bulunmalı.</p>
    @using (Html.BeginForm("Register", "Login", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, "E-posta")
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", type = "email", placeholder = "E-posta adresi" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, "Şifre")
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifre" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Roles", "Roller")
            @Html.ListBoxFor(m => m.Roles, new MultiSelectList(ViewBag.AvailableRoles as List<string>), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Roles, "", new { @class = "text-danger" })
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Kullanıcı Oluştur</button>
    }

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info mt-3">
            @ViewBag.Message
        </div>
    }
</div>
